<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700" rel="stylesheet"
          type="text/css">
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Unica+One" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    {% style "screen.css" %}
  </head>
  <body>

    <nav class="navbar">
      <div class="brand">
        <a class="brand-text" href="{{index-uri}}">{{title}}</a>
      </div>

      <div class="nav right">
        <span {% if home %} class="active" {% endif %}><a href="{{index-uri}}">Home</a></span>
        <span {% if archives %} class="active" {% endif %}><a href="{{archives-uri}}">Archives</a></span>
        {% for nav-page in navbar-pages %}
        <span {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
          <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
        </span>
        {% endfor %}
        <span><a href="{{rss-uri}}">RSS</a></span>
        <span><a href="{{rss-uri}}">More</a></span>
      </div>
      <div class="snippet">
        A combined effort blog and note repository for Daniel Berg and Mathias Bjerke about programming, tech, and GNU/Linux.
      </div>
    </nav>


    <div class="banner"></div>
    <div class="container">

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <footer>Copyright &copy; {{today|date:yyyy}} {{author}}
        <p style="text-align: center;">Powered by <a href="http://cryogenweb.org">Cryogen</a></p></footer>
    </div>
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
    {% if post.klipse %} {{post.klipse|safe}} {% endif %}
    {% if page.klipse %} {{page.klipse|safe}} {% endif %}
  </body>
</html>
