<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700" rel="stylesheet"
          type="text/css">
    <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Unica+One" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    {% style "css/atelier-forest-light.css" %}
    {% style "screen.css" %}
  </head>
  <body>

    <nav class="navbar">
      <div class="title">
        <a class="title-type" href="{{index-uri}}">{{title}}</a>
      </div>
      <div class="subtitle">
        A combined effort blog and note repository for Daniel Berg and Mathias Bjerke about programming, tech, and GNU/Linux.
      </div>
      <div class="nav-menu">
        <a {% if home %} class="active" {% endif %} href="{{index-uri}}">
          <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
          Home
        </a>
        <a {% if archives %} class="active" {% endif %} href="{{archives-uri}}">
          <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
          Archives
        </a>
        {% for nav-page in navbar-pages %}
        <a {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %} href={{nav-page.uri}}>
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%"/>
          </svg>
          {{nav-page.title}}
        </a>
        {% endfor %}
        <a href="{{rss-uri}}">RSS
          <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
        </a>
      </div>
    </nav>


    <div class="banner"></div>
    <div class="container">

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <footer>Copyright &copy; {{today|date:yyyy}} {{author}}
        <p style="text-align: center;">Powered by <a href="http://cryogenweb.org">Cryogen</a></p></footer>
    </div>
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
    {% if post.klipse %} {{post.klipse|safe}} {% endif %}
    {% if page.klipse %} {{page.klipse|safe}} {% endif %}
  </body>
</html>
